{% extends "base/base.html" %}

{% block title %}
{{title ?? 'Welcome'}}
{% endblock title %}

{% block body %}
<h1 class="text-center">Usuários ativos e inativos</h1>

<section>
    <div class="flex">
        <ul class="active">
            {% for user in users %}
            {% if user.status == 1 %}
            <li>
                id {{user.id}} - <a href="{{BASE}}/users/edit/{{user.id}}">{{ user.name }}</a> - {{ user.email }}
                {% if (ADM_ID == 1) and (user.id != 1) %}
                <a href="{{BASE}}/users/status/{{user.id}}/0" method="post" name="delete"
                    onclick="return confirm('Quer Mesmo desativar esse usuario?')">
                    Desativar
                </a>
                {% endif %}
            </li>
            {% endif %}
            {% endfor %}
        </ul>
        <ul class="inactive">
            {% for user in users %}
            {% if user.status == 0 %}
            <li>
                id {{user.id}} - <a href="{{BASE}}/users/edit/{{user.id}}">{{ user.name }}</a> - {{ user.email }}
                {% if (ADM_ID == 1) and (user.id != 1) %}
                <a href="{{BASE}}/users/status/{{user.id}}/1" method="post" name="delete"
                    onclick="return confirm('Quer Mesmo ativar esse usuario?')">
                    Ativar
                </a>
                {% endif %}
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
</section>

{% endblock %}