{% extends "base/base.html" %}

{% block title %}
{{title ?? 'Welcome'}}
{% endblock title %}

{% block body %}
<h1>{{title ?? ''}}</h1>

<ul>
    {% for user in users %}
    <li>
        id {{user.id}} - {{ user.name }} - {{ user.email }}
        {% if (ADM_ID == 1) and (user.id != 1) %}
        {% if user.status == 1 %}
        (Ativo)
        -
        <a href="{{BASE}}/users/status/{{user.id}}/0" method="post" name="delete"
            onclick="return confirm('Quer Mesmo desativar esse usuario?')">
            Desativar
        </a>
        {% else %}
        Inativo
        <a href="{{BASE}}/users/status/{{user.id}}/1" method="post" name="delete"
            onclick="return confirm('Quer Mesmo ativar esse usuario?')">
            Ativar
        </a>
        {% endif %}
        {% endif %}
    </li>

    {% endfor %}
</ul>

{% endblock %}