/* -------- Blog Start -------- */
.homeBlog {
    background-image: url(../img/template/blog.png)
}

.blog {
    max-width: 1300px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto
}

.blog figure {
    padding-bottom:.7rem
}

.blogFig img {
    /* height: 100%; */
    height: 225px;
    max-height: 225px;
    overflow: hidden;
    transition: all ease-in-out .5s
}

.blogFig .imgMax {
    position: relative;
    height: 225px;
    max-height: 225px;
    overflow: hidden
}

.imgMax::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
    background-color: #333;
    opacity: .01;
    transition: all ease-in-out .2s
}

.blogFig:hover .imgMax::before {
    opacity: .14 !important
}

.blogFig:hover img {
    transform: scale(1.12)
}

.blogFig {
    max-width: 300px;
    overflow: hidden
}

.blogTitle {
    white-space: nowrap;
    max-width: 259px;
    text-overflow: ellipsis;
    overflow: hidden
}

.blog .blogBody {
    color: #333 !important;
    max-height: 211px;
    overflow: hidden
}

.blog .blogSpan {
    align-self: flex-end;
    display: block;
    overflow: hidden;
    height: 150px
}

.blog .updated {
    margin-top: .5rem;
    margin-left: 1rem
}

/* -------- Blog End -------- */

/* -------- Posts Show Start -------- */
.postShow {
    position: relative;
    height: calc(100vh - 75px) !important
}

.postShow h1 {
    z-index: 1
}

.postShow::before {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #333;
    opacity: .7
}

.postShow.imgBackgroundArea:before {
    background-image: none
}

@media screen and (min-width:600px) {
    .postShow h1 {
        font-size: 4.5rem
    }

    .postShow::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-image: url(../img/template/logoFaixa.png);
        background-position: bottom right;
        background-size: contain;
        background-repeat: no-repeat
    }
}

.postShowAdm {
    max-width: 500px;
    margin: auto
}

.postShowSection .postFigure {
    max-width: 850px;
    margin: auto;
    padding: 1rem
}

.postShowSection figure img {
    margin: auto
}

@media screen and (min-width:430px) {
    .postShowSection .postFigure img {
        display: none !important
    }
}

.postShowSection figcaption {
    word-break: break-word
}

.postShowSection .postFigure img {
    display: flex;
    flex-direction: column;
    box-shadow: 12px 15px 0px #ff833e;
    margin: 0 auto 1.5rem
}
.aboutUser {
    max-width: 800px;
    margin: 1rem auto 3rem !important
}

.aboutUser a {
    position: relative;
    display: block;
    max-width: 600px;
    padding: 1rem;
    color: #fff;
    background-color: #333
}

.aboutUser a figure::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url(../img/template/gordao110_logo_300px.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    opacity: .5
}

.aboutUser a:hover {
    background-color: #333 !important
}

.aboutUser:hover h5 {
    color: #fff !important
}

.aboutUser figcaption,
.aboutUser h5 {
    z-index: 1
}

.aboutUser p {
    background: rgba(33, 33, 33, 0.75);
    padding: .5rem
}

@media screen and (max-width:594px) {
    .aboutUser figure {
        flex-wrap: wrap !important;
        justify-content: center !important
    }
}

.aboutUser p {
    margin-bottom: 0 !important;
    height: auto;
    min-width: 136px;
    max-width: 399px;
    word-break: break-word
}

@media screen and (min-width:600px) {
    .aboutUser p {
        height: 136px;
        min-width: 399px !important
    }
}

.imgFitUser {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: relative;
    right: 63%;
    -webkit-transform: translate(-17%, -18%);
    -ms-transform: translate(-17%, -18%);
    left: 0
}

.imgUserBox {
    height: 100px;
    width: 100px;
    overflow: hidden;
    border-radius: 50%;
    background-color: #d95f1b
}

.imgUserBox img {
    position: relative;
    margin: 1rem;
    max-width: 100px
}

/* -------- Posts Show End -------- */

/* Post Edit Start */
.postEditHeader {
    position: relative
}

.postEditHeader.imgBackgroundArea::before {
    background-image: none
}

.postEditHeader::before {
    content: '';
    position: absolute;
    background-color: #333;
    opacity: .5
}

.postSection {
    margin: auto;
    max-width: 800px
}

.postSection img {
    max-width: 500px;
    box-shadow: 15px 15px 0px #ff833e
}

/* Post Edit End */

@media screen and (max-width:600px) {
    .homeHeaderAbout {
        background-image: url(../img/template/gordao110_600.png)!important
    }

    .homeBlog {
        background-image: url(../img/template/blog_600.png)!important
    }
}