.carousel-inner {
    max-height: 500px
}

.carousel-caption {
    bottom: 41% !important
}

.carousel-indicators {
    bottom: 12% !important
}

@media all and (min-width: 750px) {
    .carousel-inner {
        margin-bottom: 1rem !important
    }
}