* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important
}

/* Spinner */
#loader {
    position: absolute;
    top: 0;
    border: 12px solid #ffffff;
    border-radius: 50%;
    border-top: 12px solid #FF9800;
    width: 70px;
    height: 70px;
    animation: spin 1s linear infinite;
    z-index: 999999999
}
@keyframes spin {
    100% {
        transform: rotate(360deg)
    }
}
/* end Spinner */

/* Google font */
.font-swashCaps {
    font-family: 'Oleo Script Swash Caps', cursive
}

:root {
    --primary: #d95f1b;
    --secondary: #010101
}

::-moz-selection {
    color: #fff;
    background: #ec8044
}

::selection {
    color: #fff;
    background: #ec8044
}

.lightText,
label {
    color: #d95f1b
}

.btn:focus {
    color: #d95f1b;
    box-shadow: 0 0 0 0.2rem #eaa782
}

.btn-success {
    max-width: 200px
}

a {
    color: #d95f1b;;
    text-decoration: none;
    transition: ease-in-out .1s
}

a:focus {
    color: #d95f1b; !important;
    background: none !important
}

a:hover {
    color: #ff5b00 !important;
    background: none !important;
    text-decoration: none
}

.btn:hover {
    color: #ff5b00 !important;
    border-color: #ff5b00 !important;
    background-color: #fff !important
}

.form-control:focus {
    border-color: #FF9800 !important;
    box-shadow: 0 0 0 0.2rem #FF9800 !important
}

textarea {
    min-height: 194px !important
}

#tinyMCE {
    height: 300px;
}

#disqus_thread {
    max-width: 800px;
    margin: auto
}

.imgGroup {
    width: 100%;
    max-width: 250px;
}

/* -------- Float btn Start -------- */
.float, #topBtn {
    z-index: 99999999
}
/* To top btn */
#topBtn {
    position: fixed;
    bottom: 40px;
    right: 40px;
    font-size: 22px;
    width: 50px;
    height: 50px;
    background-color: #FF5722;
    color: #fff;
    border: none;
    cursor: pointer;
    outline: none;
    display: none
}

#topBtn:hover {
    background-color: #ff5c01
}

/* Whatsapp */
.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 35px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 1px -1px 12px 0px #6fbd72;
    transition: all ease-in-out .24s
}

.float::before {
    content: 'Peça Já!';
    opacity: 0;
    transition: opacity .15s;
    width: 67px;
    background-color: #fff;
    color: #ff5b00;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    font-size: 1rem;
    left: -3px;
    top: -41px
}

.float::after {
    content: "";
    opacity: 0;
    transition: opacity .15s;
    position: absolute;
    top: -9px;
    left: 45%;
    margin-left: -5px;
    border-width: 8px;
    border-style: solid;
    border-color: #fff transparent transparent transparent
}

.float:hover::before,
.float:hover::after {
    opacity: 1
}

.float:hover, .float:focus  {
    background-color: #fff !important;
    box-shadow: 1px -1px 12px 0px #ff5b00
}

.my-float {
    margin-top: 16px;
}

.styleBtn {
    padding: 5px 10px 5px 10px;
    line-height: 18px;
    max-height: 34px;
    max-width: 135px;
    overflow: hidden;
    word-wrap: break-word;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 14px;
}

/* -------- Float btn end -------- */

@media screen and (max-width:299.9px) {

    html,
    body {
        overflow-x: hidden !important
    }
}

@media screen and (max-width:500px) {
    ::-webkit-scrollbar {
        width: 0px !important;
        /* Remove scrollbar space */
        background: transparent !important;
        /* Optional: just make scrollbar invisible */
    }
}

html,
body {
    height: 100%;
    min-width: 100%;
    width: 100%;
    overflow-y: visible
}

body {
    position: relative;
    overflow-x: hidden !important
}

/* main */
main figure {
    margin-bottom: 0 !important
}

img {
    width: 100%
}

.z-index {
    z-index: 999999 !important
}

.flex {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start
}

.flex-center {
    justify-content: center
}

.center {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto
}

.img-objFitCover {
    /* transform: translate(50%, 0);
    object-fit: cover; */
    /* min-width: 100%; */
    /* min-height: 100%; */
    width: auto;
    height: auto;
    position: relative;
    right: 20%;
    -webkit-transform: translate(50%, 0);
    -ms-transform: translate(50%, 0)
}

.img-prevent-drag,
img {
    /* prevent User drag */
    /* user-drag: none; */
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none
}

.object-fit {
    min-height: 150px;
    max-height: 150px;
    object-fit: cover;
    object-position: top
}

.img-section-max {
    min-height: 150px;
    max-height: 150px
}

/* nav */
.navbar {
    min-height: 75px
}

.navBar .dropdown-menu {
    z-index: 9999999999999
}

@media screen and (min-width:991.99px) {
    .navbar {
        padding: 0 1rem !important;
        height: 75px
    }
}

.navbar button {
    outline: none !important
}

nav img {
    max-width: 100px
}

.navbar-brand {
    right: 45.9%
}

@media screen and (min-width:1388px) {
    .navbar-brand {
        right: 46.9% !important
    }
}

@media screen and (min-width:1400px) {
    .navbar-brand {
        right: 46.5% !important
    }
}

/* end nav */

/* Pagination */
.page-link {
    color: #d95f1b!important
}

.page-link:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 87, 34, 0.44) !important
}

.page-item.active .page-link {
    color: #fff !important;
    background-color: #d95f1b !important;
    border-color: #d95f1b !important
}

/* End Pagination */

/* -------- Footer Start -------- */
footer {
    position: relative;
    background-image: url(../img/template/footerImg.jpg);
    color: #fff;
    background-size: cover;
    background-position: center
}

footer article {
    position: relative;
    display: flex;
    flex-direction: column !important;
    justify-content: center;
    margin: auto;
    max-width: 1037px;
}

footer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: #333;
    height: 100%;
    width: 100%;
    opacity: .82
}

.footerInfo {
    padding: 0 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline
}

.footerInfo p {
    padding-right: 2rem
}

.footerMenus {
    width: 100%;
    max-width: 502px
}

.footerMenus section {
    margin-right: 1rem
}

footer .contactSection {
    padding: 0 1rem;
}

footer .contactSection address {
    display: flex;
    margin: 0 !important
}

footer .contactSection nav {
    margin-right: 1rem;
    width: 100%;
    max-width: 342px
}

footer .contactSection i {
    margin-right: 1rem;
    margin-top: .4rem
}

footer .contactSection .map {
    width: 100%;
    max-width: 431px
}

@media screen and (max-width:410px) {
    .copyRight {
        max-width: 235px;
        margin: auto
    }
}
@media screen and (max-width:558px) {
    footer .contactSection address {
        flex-wrap: wrap
    }
}

@media screen and (min-width:798px) {
    footer article {
        flex-direction: row
    }
}

@media screen and (min-width:938px) {
    .footerInfo {
        flex-wrap: nowrap !important;
        justify-content: space-around
    }
}
/* -------- Footer End -------- */

/* Edit delete start */
.smallInfo {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #000;
    background: #333333b5;
    color: #fff;
    padding: .3rem .5rem;
    z-index: 2
}

.editDelete {
    margin-top: 1.4rem;
    position: relative
}

.editDelete a {
    color: #d95f1b !important
}

.editDelete::before {
    content: 'Proceda com cautela!';
    position: absolute;
    position: absolute;
    top: -21px;
    left: 9px
}

/* Edit pages */
.formPageArea {
    margin: auto;
    max-width: 800px
}

.formPageArea img {
    max-width: 300px
}

/* -------- Products End -------- */

.headerEdit {
    position: relative;
    background-image: url(../img/template/stop.jpg);
    background-position: top right !important
}

.headerEdit::before {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #4b1504;
    opacity: .5
}

.headerEdit.imgBackgroundArea::before {
    background-image: none
}

.headerEdit::after {
    content: 'ATENÇÂO! Caso aperte em deletar, todos os registros desta categoria serão apagados, inclusive as imagens.' !important;
    position: relative;
    max-width: 400px
}

/* Edit delete end */

/* Create btn start */
.createBtn {
    background-color: #fff !important;
    color: #d95f1b !important;
    border: #ccc 1px solid;
    margin: .1rem;
    width: 207px
}

/* Create btn end */

/* Dropdown toggle start */
.dropdown-toggle {
    background-color: #fff !important;
    color: #d95f1b
}

/* Dropdown toggle end */

/* Animatins */
@media screen and (min-width:600px) and (min-height:600px) and (orientation:landscape) {
    [data-anima] {
        opacity: 0;
        transition: .5s
    }

    [data-anima='left'] {
        transform: translate3d(-50px, 0, 0)
            /* X Y Z*/
    }

    [data-anima='right'] {
        transform: translate3d(50px, 0, 0)
            /* X Y Z*/
    }

    [data-anima='center'] {
        transform: translate3d(0, 50px, 0)
            /* X Y Z*/
    }

    [data-anima].animation {
        opacity: 1;
        ;
        transform: translate3d(0, 0, 0);
        position: inherit
    }
}

/* End Animations */

/* img background areas start */
.imgBackgroundArea {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    height: 250px;
    background-position: left, right;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff
}

.imgBackgroundArea::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url(../img/template/logoFaixa.png);
    background-position: bottom right;
    background-size: contain;
    background-repeat: no-repeat
}

/* img background areas end */

/* ------ Home Start ------- */

/* Home about */
.homeHeaderAbout {
    background-image: url(../img/template/gordao110.png)
}

.homeHeaderAbout.imgBackgroundArea::before {
    background-image: none !important;
    background-color: #333;
    opacity: .8
}

@media screen and (min-width:650px) {
    .homeHeaderAbout.imgBackgroundArea::before {
        opacity: .5
    }
}

.homeHeaderAbout span {
    margin-top: -.7rem;
    padding: 1rem;
    width: 100%;
    z-index: 1
}

.homeHeaderAbout span,
.homeHeaderAbout div {
    max-width: 300px
}

.homeAbout {
    background-image: url(../img/template/aboutBackgroundSection.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover
}

.homeAbout .about {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    white-space: pre-line
}

.homeAbout .about div {
    padding: 0 2rem;
    background-color: #fff;
    box-shadow: -1px 3px 20px 1px #ccc
}

.homeAbout strong {
    align-self: flex-start;
    font-size: 2rem;
    padding-bottom: 1rem
}

@media screen and (min-width:590px) {
    .homeAbout .about {
        justify-content: center;
        padding: 2rem;
        line-height: 1.85rem;
        /* box-shadow: 20px 20px 0px #d65106; */
    }

    .homeAbout figcaption {
        margin: 1rem !important
    }
}

/* Home about end */

/* Owl */
.owl-carousel {
    padding: .65rem 0 .5rem
}

.owl-carousel a {
    text-decoration: none;
    color: #000 !important;
    text-align: center;
    cursor: pointer
}

.item {
    margin-bottom: 0
}

.item img {
    max-width: 260px !important;
    transition: all ease-in-out .5s
}

.item img:hover {
    transform: scale(1.12)
}

/* end owl */

.title {
    color: var(--secondary);
    padding: 1rem
}

.title::before,
.title::after {
    content: '';
    height: 3px;
    background-color: #d95f1b
}

/* Home Sections */

/* Snacks start */
.bestsSnacks {
    background-image: url(../img/template/comida-rapida-espacio-abajo.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover
}

.bestsSnacks.imgBackgroundArea::before {
    background-image: none !important
}

.snacks section header {
    padding: 1rem 0 .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #d95f1b;
    color: #fff;
    background-position: right;
    background-repeat: no-repeat;
    background-size: 50%
}

.snacks section:nth-child(1) header {
    background-color: #ffbf00
}

.snacks section:nth-child(2) header {
    background-color: #F44336
}

.snacks section:nth-child(3) header {
    background-color: #6fbc3f
}

.snacks header span {
    margin-left: 2%
}

@media screen and (min-width:950px) {
    .snacks header span {
        margin-left: 20%
    }
}

.snacks section:nth-child(1) header {
    background-image: url(../img/categories/id_1/hamburguers.png)
}

.snacks section:nth-child(2) header {
    background-image: url(../img/categories/id_2/pizzas.png)
}

.snacks section:nth-child(3) header {
    background-image: url(../img/template/categories.png)
}

/* Snacks end */

/* blog start */
.homeBlogSection div {
    padding: 0 !important
}

@media screen and (min-width:600px) {
    .homeBlogSection .owl-dot {
        display: none !important
    }
}

@media screen and (min-width:479px) {
    .homeBlogSection div {
        margin: 0 !important
    }
}

.homeBlogSection img {
    width: 100% !important;
    max-width: 100% !important
}

.homeBlog {
    background-image: url(http://localhost/projetosCompletos/gordao110porcento/public/img/template/blog.png)
}

.img-fig {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #d95f1b;
    text-align: left;
    padding: 0.2rem;
    padding-left: .5rem;
    text-decoration: none;
    color: #fff;
    overflow: hidden;
    white-space: pre;
    text-overflow: ellipsis
}

/* blog end */

/* -------- Home End -------- */

/* -------- Products Start -------- */
.productHeader {
    background-image: url(../img/template/gordao_letreiros.png)
}

.productDropdown {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    align-self: center;
    width: 100%;
    max-width: 320px
}

.productDropdown p {
    margin: 0 !important;
    align-self: center
}

.productDropdown button {
    background-color: #f8f8f8;
    border: 1px solid #ccc
}

.products {
    display: flex;
    justify-content: center;
    max-width: 1300px;
    padding: 1rem 0;
    margin: auto
}

@media screen and (min-width: 357px) {
    .products {
        padding: 1rem
    }
}

.products img {
    /* height: 100%; */
    max-height: 225px;
    transition: all ease-in-out .5s
}

.products img:hover {
    transform: scale(1.12)
}

.products figure {
    width: 300px
}

.products figcaption {
    background-color: #f8f8f8;
    border-top: 1px solid #ccc;
}

.products .card-text:first-child {
    min-height: 96px
}

.card-group>.card {
    flex: none !important
}

.add {
    max-width: 670px;
    margin: 0 auto -1rem
}

/* -------- Catecories Start -------- */
.categoryHeader {
    display: flex;
    align-items: center;
    flex-direction: column
}

.activeList::before,
.inactiveList::before {
    padding: .5rem 1rem;
    color: #fff
}

.activeList::before {
    content: 'Usuário Ativos';
    background: #0a942b
}

.inactiveList::before {
    content: 'Usuário Inativos';
    background: #c70e0e
}

/* -------- Catecories End -------- */

/* -------- Users adm Start  -------- */
.usersAdmBackground {
    background-image: url(../img/template/users.png)
}

.usersAdm li {
    min-width: 300px
}

.usersAdm .userPic {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #ccc;
    overflow: hidden
}

.usersAdm img {
    max-width: 40px
}

.usersAdm button {
    margin-left: .5rem;
    border: none;
    color: #d95f1b;
    background: none;
    padding: 0 .2rem
}

.usersAdm button:hover {
    color: #ff5b00
}

.usersAdm button:focus {
    border: none
}

@media screen and (min-width:468px) {
    .usersAdm li {
        min-width: 468px
    }
}

/* -------- Users adm End  -------- */

/* -------- User show Start  -------- */
.user {
    position: relative;
    margin: 0 auto 2rem !important
}

.user header {
    display: flex;
}

.user header::before {
    content: '';
    border-left: 8px solid #d95f1b;
    background: #d95f1b;
}

.user figure {
    margin: auto !important;
    max-width: 800px
}

.user img {
    margin-top: 1rem !important;
    box-shadow: 15px 15px 0px #ff833e;
    max-width: 250px;
    overflow: hidden
}

@media screen and (min-width:712px) {
    .user img {
        width: auto;
        height: auto;
        position: relative;
        right: 20%;
        -webkit-transform: translate(50%, 0);
        -ms-transform: translate(50%, 0)
    }

    .user figcaption {
        min-width: 406px
    }
}

.user figcaption {
    padding: 1rem;
    margin-left: 1rem;
    word-break: break-word
}

.user figcaption h5,
.user figcaption p {
    max-width: 370px;
    margin: auto
}

.userPosts header h3::after {
    content: '';
    border-bottom: .16rem solid #d95f1b;
    padding-bottom: .5rem;
    display: block;
    width: 80%;
    margin: auto
}

/* -------- User show End -------- */

/* -------- User Edit Start -------- */
.userEdit form {
    padding: 1rem
}

.userEdit::after {
    content: '';
    display: block;
    width: 40%;
    margin: 2rem auto
}

.userEdit img {
    margin: 1rem 0 !important;
    max-width: 250px;
    box-shadow: 15px 15px 0px #ff833e;
    overflow: hidden
}

/* -------- User Edit End -------- */

/* -------- Blog Start -------- */
.blog {
    max-width: 1300px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto
}

.blogFig img {
    /* height: 100%; */
    height: 225px;
    max-height: 225px;
    overflow: hidden;
    transition: all ease-in-out .5s
}

.blogFig .imgMax {
    position: relative;
    height: 225px;
    max-height: 225px;
    overflow: hidden
}

.imgMax::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
    background-color: #333;
    opacity: .01;
    transition: all ease-in-out .2s
}

.blogFig:hover .imgMax::before {
    opacity: .14 !important
}

.blogFig:hover img {
    transform: scale(1.12)
}

.blogFig {
    max-width: 300px;
    overflow: hidden
}

.blogTitle {
    white-space: nowrap;
    max-width: 259px;
    text-overflow: ellipsis;
    overflow: hidden
}

.blog .blogBody {
    color: #333 !important
}

.blog .blogSpan {
    align-self: flex-end;
    display: block;
    overflow: hidden;
    height: 150px
}

.blog .updated {
    margin-top: 1rem
}

/* -------- Blog End -------- */

/* -------- Posts Show Start -------- */
.postShow {
    position: relative;
    height: calc(100vh - 75px) !important
}

.postShow h1 {
    z-index: 1
}

.postShow::before {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #333;
    opacity: .7
}

.postShow.imgBackgroundArea:before {
    background-image: none
}

@media screen and (min-width:600px) {
    .postShow h1 {
        font-size: 4.5rem
    }

    .postShow::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-image: url(../img/template/logoFaixa.png);
        background-position: bottom right;
        background-size: contain;
        background-repeat: no-repeat
    }
}

.postShowAdm {
    max-width: 500px;
    margin: auto
}

.postShowSection .postFigure {
    max-width: 850px;
    margin: auto;
    padding: 1rem
}

.postShowSection figure img {
    margin: auto
}

@media screen and (min-width:430px) {
    .postShowSection .postFigure img {
        display: none !important
    }
}

.postShowSection figcaption {
    word-break: break-word
}

.postShowSection .postFigure img {
    display: flex;
    flex-direction: column;
    box-shadow: 12px 15px 0px #ff833e;
    margin: 0 auto 1.5rem
}

.postText p {
    margin-bottom: 0 !important
}

.aboutUser {
    max-width: 800px;
    margin: 1rem auto 3rem !important
}

.aboutUser a {
    position: relative;
    display: block;
    max-width: 600px;
    padding: 1rem;
    color: #fff;
    background-color: #333
}

.aboutUser a figure::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url(../img/template/gordao110_logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    opacity: .5
}

.aboutUser a:hover {
    background-color: #333 !important
}

.aboutUser:hover h5 {
    color: #fff !important
}

.aboutUser figcaption,
.aboutUser h5 {
    z-index: 1
}

.aboutUser p {
    background: rgba(33, 33, 33, 0.75);
    padding: .5rem
}

@media screen and (max-width:594px) {
    .aboutUser figure {
        flex-wrap: wrap !important;
        justify-content: center !important
    }
}

.aboutUser p {
    margin-bottom: 0 !important;
    height: auto;
    min-width: 136px;
    max-width: 399px;
    word-break: break-word
}

@media screen and (min-width:600px) {
    .aboutUser p {
        height: 136px;
        min-width: 399px !important
    }
}

.imgFitUser {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: relative;
    right: 63%;
    -webkit-transform: translate(-17%, -18%);
    -ms-transform: translate(-17%, -18%);
    left: 0
}

.imgUserBox {
    height: 100px;
    width: 100px;
    overflow: hidden;
    border-radius: 50%;
    background-color: #d95f1b
}

.imgUserBox img {
    position: relative;
    margin: 1rem;
    max-width: 100px
}

/* -------- Posts Show End -------- */

/* Post Edit Start */
.postEditHeader {
    position: relative
}

.postEditHeader.imgBackgroundArea::before {
    background-image: none
}

.postEditHeader::before {
    content: '';
    position: absolute;
    background-color: #333;
    opacity: .5
}

.postSection {
    margin: auto;
    max-width: 800px
}

.postSection img {
    max-width: 500px;
    box-shadow: 15px 15px 0px #ff833e
}

/* Post Edit End */

/* -------- Contact Start -------- */
.contactHeader {
    background-image: url(../img/template/contact.png)
}

.contactForm {
    max-width: 1053px
}

.contactRow {
    display: flex;
    justify-content: center
}

.contactAddress {
    width: 100%;
    max-width: 716px
}

.contactAddress div {
    display: flex;
}

.contactAddress div ul {
    padding: 1rem
}

@media screen and (max-width:615px) {
    .contactAddress div {
        flex-wrap: wrap-reverse
    }
}

@media screen and (max-width:1000px) {
    .contactForm .contactRow {
        /* flex-direction: column-reverse !important */
    }

    .contactForm .contactInfo {
        margin-bottom: 1rem;
        align-self: center !important
    }
}

/* -------- Contact End -------- */

/* -------- Gallery Start -------- */
.galleryHeader {
    background-image: url(../img/template/gallery.png)
}

.galleryArticle {
    /* height: 200px;
    width: 100px; */
    overflow: hidden
}

.galleryArticle figure {
    position: relative;
}

.galleryArticle .galleryImgMax {
    height: 170px;
    overflow: hidden
}

.galleryArticle figcaption p {
    width: 100%;
    color: #ff7a08;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 44px;
    border-top: none !important
}

/* -------- Gallery End -------- */

/* -------- About Start -------- */
.aboutArticle {
    margin-top: -.0199rem
}

.about {
    display: flex;
    flex-wrap: wrap;
    max-width: 1064px;
    justify-content: center;
    margin: auto
}

.about strong {
    align-self: flex-start;
    font-size: 2rem;
    padding-bottom: 1rem
}

.about figure {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    max-width: 500px
}

.about figure:nth-child(odd) {
    flex-direction: row-reverse;
    background: #fff;
    color: #000
}

.about figure:nth-child(even) {
    background: #333;
    color: #fff
}

.about figcaption {
    min-height: 256px;
    max-width: 469px !important;
    padding: 1rem
}

@media screen and (min-width:590px) {
    .about {
        padding: 0 2rem;
        line-height: 1.85rem;
        /* box-shadow: 20px 20px 0px #d65106; */
    }

    .about figure {
        /* flex-wrap: nowrap; */
        max-width: auto;
    }

    .about figcaption {
        margin: 1rem !important
    }
}

@media screen and (min-width:400px) and (max-width:1151px) {
    .about figure {
        max-width: 400px
    }
}

@media screen and (min-width:1151px) {
    .about {
        flex-wrap: nowrap;
        flex-direction: column
    }

    .about figure img {
        max-width: 500px
    }

    .about figure,
    .about figcaption {
        flex-wrap: nowrap;
        max-width: 100%
    }
}

/* -------- About End -------- */