* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important
}


:root {
    --primary: #d95f1b;
    --secondary: #010101;
}

a {
    color: var(--primary);
    text-decoration: none;
    transition: ease-in-out .1s;
}

a:hover {
    color: var(--secondary) !important;
    text-decoration: none;
}


@media screen and (max-width:299.9px) {

    html,
    body {
        overflow-x: hidden !important;
    }
}

@media screen and (max-width:500px) {
    ::-webkit-scrollbar {
        width: 0px !important;
        /* Remove scrollbar space */
        background: transparent !important;
        /* Optional: just make scrollbar invisible */
    }
}

html,
body {
    height: 100%;
    min-width: 100%;
    width: 100%;
    overflow-y: visible;
    /* overflow-x: hidden; */
}

body {
    overflow-x: hidden !important;
}


main {
    /* height: 100%; */
}

img {
    width: 100%
}

.z-index {
    z-index: 999999 !important;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.flex-center {
    justify-content: center;
}

.center {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

/* Spinner */
#loader {
    border: 12px solid #f3f3f3;
    border-radius: 50%;
    border-top: 12px solid #444444;
    width: 70px;
    height: 70px;
    animation: spin 1s linear infinite;
    z-index: 99999;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

/* end Spinner */

.img-objFitCover {
    /* substitution of object-fit */
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    right: 50%;
    -webkit-transform: translate(50%, 0);
    -ms-transform: translate(50%, 0);
    transform: translate(50%, 0);
    /* object-fit: cover; */
}

.img-prevent-drag {
    /* prevent User drag */
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none
}

.object-fit {
    min-height: 150px;
    max-height: 150px;
    object-fit: cover;
    object-position: top
}

.img-section-max {
    min-height: 150px;
    max-height: 150px;
}

/* nav */
.navbar {
    padding: 0 1rem !important;
}

.navbar button {
    outline: none !important;
}

nav img {
    max-width: 100px
}

.navbar-brand {
    right: 45.9%;
}

@media screen and (min-width:1388px) {
    .navbar-brand {
        right: 46.9% !important
    }
}

/* end nav */

/* Owl */
.owl-carousel {
    padding: .65rem 0 .5rem
}

.owl-carousel a {
    text-decoration: none;
    color: #000 !important;
    text-align: center
}

.item {
    margin-bottom: 0
}

.item img {
    max-width: 260px !important;
    transition: all ease-in-out .5s;
}

.item img:hover {
    transform: scale(1.12)
}

/* end owl */
/* main */
main {}

main figure {
    margin-bottom: 0 !important;
}

/* end main */

.title {
    color: var(--secondary);
    padding: 1rem;
}

.title::before,
.title::after {
    content: '';
    height: 3px;
    background-color: var(--primary);
}

.lanches section header {
    padding: 1rem 0 .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    background: var(--primary);
    color: #fff;
    background-position: right;
    background-repeat: no-repeat;
    background-size: 50%;
}

.lanches section:nth-child(1) header {
    background-color: #ffbf00
}

.lanches section:nth-child(2) header {
    background-color: #F44336
}

.lanches section:nth-child(3) header {
    background-color: #6fbc3f
}

.lanches header span {
    margin-left: 2%
}

@media screen and (min-width:950px) {
    .lanches header span {
        margin-left: 20%;
    }
}

.lanches section:nth-child(1) header {
    background-image: url(../img/categories/id_1/hamburguers.png)
}

.lanches section:nth-child(2) header {
    background-image: url(../img/categories/id_2/pizzas.png)
}

.lanches section:nth-child(3) header {
    background-image: url(../img/template/categories.png)
}

.homeHeaderAbout::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #333;
    opacity: .8;
}

@media screen and (min-width:650px) {
    .homeHeaderAbout::before {
        opacity: .5;
    }
}

/* Home about */
.homeHeaderAbout {
    position: relative;
    height: 100%;
    width: 100%;
    min-height: 250px;
    background-image: url(../img/section/gordao110.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}

.homeHeaderAbout span {
    padding: 1rem;
    width: 100%;
    z-index: 1;
    color: #fff;
}

.homeHeaderAbout span,
.homeHeaderAbout div {
    max-width: 300px;

}

.homeAbout .about {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    white-space: pre-line;
    background-image: url(../img/template/gordaoRestaurante_fundoBranco.png);
    background-repeat: no-repeat;
    background-size: cover
}

.homeAbout .about div {
    padding: 0 2rem;
    background-color: #fff;
    border: #ccc;
}

.homeAbout strong {
    align-self: flex-start;
    font-size: 2rem;
    padding-bottom: 1rem;
}

@media screen and (min-width:590px) {
    .homeAbout .about {
        justify-content: center;
        padding: 2rem;
        line-height: 1.85rem;
        /* box-shadow: 20px 20px 0px #d65106; */
    }

    .homeAbout figcaption {
        margin: 1rem !important;
    }
}

/* Home about end */

/* blog */
.homeBlogSection div {
    margin: 0 !important;
    padding: 0 !important;
}

.homeBlogSection img {
    width: 100% !important;
    max-width: 100% !important;
}

.homeBlog {
    position: relative;
    background-image: url(http://localhost/projetosCompletos/gordao110porcento/public/img/template/blog.png);
    height: 250px;
    background-position: left, right;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff
}

.homeBlog::before {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    background-image: url(http://localhost/projetosCompletos/gordao110porcento/public/img/template/logoFaixa.png);
    background-position: bottom right;
    background-size: contain;
    background-repeat: no-repeat;
}

.img-fig {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: var(--primary);
    text-align: left;
    padding: 0.2rem;
    padding-left: .5rem;
    text-decoration: none;
    color: #fff;
    overflow: hidden;
    white-space: pre;
    text-overflow: ellipsis;
}

/* end blog */

/* Sections */
/* Home Sections */
.background-section {
    padding: 1rem;
    height: 250px;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #22241742;
}

.img-1 {
    background-image: url(../img/section/comida-rapida-espacio-abajo.png);
    background: url(../img/section/comida-rapida-espacio-abajo.png) scroll;
}

/* end sections */

/* End Home Sections */

/* Animatins */
@media screen and (min-width:600px) and (min-height:600px) and (orientation:landscape) {
    [data-anima] {
        opacity: 0;
        transition: .5s
    }

    [data-anima='left'] {
        transform: translate3d(-50px, 0, 0)
            /* X Y Z*/
    }

    [data-anima='right'] {
        transform: translate3d(50px, 0, 0)
            /* X Y Z*/
    }

    [data-anima='center'] {
        transform: translate3d(0, 50px, 0)
            /* X Y Z*/
    }

    [data-anima].animation {
        opacity: 1;
        ;
        transform: translate3d(0, 0, 0);
        position: inherit;
    }
}

/* End Animations */
.font-swashCaps {
    font-family: 'Oleo Script Swash Caps', cursive
}