// Components
@import './components';

// Animations
@import './animations';

// Pages
@import './pages';

// Libs
@import '../libraries/owl/owl.carousel.min.css';
@import '../libraries/owl/owl.theme.default.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important
}

html,
body {
  height: 100%;
  min-width: 100%;
  width: 100%;
  overflow-y: visible
}

body {
  position: relative;
  overflow-x: hidden
}

@media screen and (max-width:300px) {

  html,
  body,
  main {
    overflow-x: hidden !important
  }
}

@media screen and (max-width:500px) {

  body,
  main {
    overflow-x: hidden !important
  }

  ::-webkit-scrollbar {
    width: 0px !important;
    /* Remove scrollbar space */
    background: transparent !important;
    /* Optional: just make scrollbar invisible */
  }
}

/* Spinner */
#loader {
  position: absolute;
  top: 0;
  border: 12px solid #ffffff;
  border-radius: 50%;
  border-top: 12px solid #FF9800;
  width: 70px;
  height: 70px;
  animation: spin 1s linear infinite;
  z-index: 999999999
}

@keyframes spin {
  100% {
    transform: rotate(360deg)
  }
}

/* end Spinner */

/* Google font */
.font-swashCaps {
  font-family: 'Oleo Script Swash Caps', cursive
}

:root {
  --primary: #d95f1b;
  --secondary: #010101
}

::-moz-selection {
  color: #fff;
  background: #ec8044
}

::selection {
  color: #fff;
  background: #ec8044
}

.lightText,
label {
  color: #d95f1b
}

.btn:focus {
  color: #d95f1b;
  box-shadow: 0 0 0 0.2rem #eaa782;
  background-color: #fff
}

.btn-success {
  max-width: 200px
}

a {
  color: #d95f1b;
  ;
  text-decoration: none;
  transition: ease-in-out .1s
}

a:focus {
  color: #d95f1b !important;
  background: none !important
}

a:hover {
  color: #ff5b00 !important;
  background: none !important;
  text-decoration: none
}

.btn:hover {
  color: #ff5b00 !important;
  border-color: #ff5b00 !important;
  background-color: #fff !important
}

.form-control:focus {
  border-color: #FF9800 !important;
  box-shadow: 0 0 0 0.2rem #FF9800 !important
}

textarea {
  min-height: 194px !important
}

#tinyMCE {
  height: 300px;
}

#disqus_thread {
  max-width: 800px;
  margin: auto
}

.imgGroup {
  width: 100%;
  max-width: 250px;
}

/* -------- Float btn Start -------- */
.float,
#topBtn {
  z-index: 99999999
}

/* To top btn */
#topBtn {
  position: fixed;
  bottom: 40px;
  right: 40px;
  font-size: 22px;
  width: 50px;
  height: 50px;
  background-color: #FF5722;
  color: #fff;
  border: none;
  cursor: pointer;
  outline: none;
  display: none
}

#topBtn:hover {
  background-color: #ff5c01
}

/* Whatsapp */
.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 35px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 1px -1px 12px 0px #6fbd72;
  transition: all ease-in-out .24s
}

.float::before {
  content: 'Peça Já!';
  opacity: 0;
  transition: opacity .15s;
  width: 67px;
  background-color: #fff;
  color: #ff5b00;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  font-size: 1rem;
  left: -3px;
  top: -41px
}

.float::after {
  content: "";
  opacity: 0;
  transition: opacity .15s;
  position: absolute;
  top: -9px;
  left: 45%;
  margin-left: -5px;
  border-width: 8px;
  border-style: solid;
  border-color: #fff transparent transparent transparent
}

.float:hover::before,
.float:hover::after {
  opacity: 1
}

.float:hover,
.float:focus {
  background-color: #fff !important;
  box-shadow: 1px -1px 12px 0px #ff5b00
}

.my-float {
  margin-top: 16px;
}

.styleBtn {
  padding: 5px 10px 5px 10px;
  line-height: 18px;
  max-height: 34px;
  max-width: 135px;
  overflow: hidden;
  word-wrap: break-word;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
}

/* -------- Float btn end -------- */

/* main */
main figure {
  margin-bottom: 0 !important
}

img {
  width: 100%;
  height: auto;
}

.z-index {
  z-index: 99999999 !important
}

.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start
}

.flex-center {
  justify-content: center
}

.center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto
}

.img-objFitCover {
  /* transform: translate(50%, 0);
  object-fit: cover; */
  /* min-width: 100%; */
  /* min-height: 100%; */
  width: auto;
  height: auto;
  position: relative;
  right: 20%;
  -webkit-transform: translate(50%, 0);
  -ms-transform: translate(50%, 0)
}

.img-prevent-drag,
img {
  /* prevent User drag */
  /* user-drag: none; */
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none
}

.object-fit {
  min-height: 150px;
  max-height: 150px;
  object-fit: cover;
  object-position: top
}

.img-section-max {
  min-height: 150px;
  max-height: 150px
}

/* nav */
.navbar {
  min-height: 75px;
  padding: 0 .65rem
}

.navBar .dropdown-menu {
  z-index: 9999999999999
}

@media screen and (max-width:991px) {
  .navbar-nav .dropdown-menu {
    margin-bottom: 1rem
  }
}

nav img {
  max-width: 84px;
  padding: .25rem .25rem 0
}

@media screen and (min-width:991.99px) {
  .navbar {
    padding: 0 1rem !important;
    height: 75px
  }

  nav img {
    max-width: 100px;
    padding: .15rem .15rem 0
  }
}

.navbar button {
  outline: none !important
}


.navbar-brand {
  right: 45.9%
}

@media screen and (min-width:1388px) {
  .navbar-brand {
    right: 46.9% !important
  }
}

@media screen and (min-width:1400px) {
  .navbar-brand {
    right: 46.5% !important
  }
}

/* end nav */

/* img background areas start */
.imgBackgroundArea {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  height: 250px;
  background-position: left, right;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff
}

.imgBackgroundArea::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  background-image: url(../img/template/logoFaixa.png);

  background-position: bottom right;
  background-size: contain;
  background-repeat: no-repeat
}

/* img background areas end */

/* Pagination */
@media screen and (max-width:326px) {
  .pagination {
    display: flex;
    flex-wrap: wrap;
    font-size: 14.5px
  }
}

.page-link {
  color: #d95f1b !important
}

.page-link:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 87, 34, 0.44) !important
}

.page-item.active .page-link {
  color: #fff !important;
  background-color: #d95f1b !important;
  border-color: #d95f1b !important
}

/* End Pagination */

/* -------- Footer Start -------- */
footer {
  position: relative;
  background-image: url(../img/template/footerImg.jpg);
  color: #fff;
  background-size: cover;
  background-position: center
}

footer article {
  position: relative;
  display: flex;
  flex-direction: column !important;
  justify-content: center;
  margin: auto;
  max-width: 1037px;
}

footer::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: #333;
  height: 100%;
  width: 100%;
  opacity: .82
}

.footerInfo {
  padding: 0 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline
}

.footerInfo p {
  padding-right: 2rem
}

.footerMenus {
  width: 100%;
  max-width: 502px
}

.footerMenus section {
  margin-right: 1rem
}

footer .contactSection {
  padding: 0 1rem;
}

footer .contactSection address {
  display: flex;
  margin: 0 !important
}

footer .contactSection nav {
  margin-right: 1rem;
  width: 100%;
  max-width: 342px
}

footer .contactSection i {
  margin-right: 1rem;
  margin-top: .4rem
}

footer .contactSection .map {
  width: 100%;
  max-width: 431px
}

@media screen and (max-width:410px) {
  .copyRight {
    max-width: 235px;
    margin: auto
  }
}

@media screen and (max-width:558px) {
  footer .contactSection address {
    flex-wrap: wrap
  }
}

@media screen and (min-width:798px) {
  footer article {
    flex-direction: row
  }
}

@media screen and (min-width:938px) {
  .footerInfo {
    flex-wrap: nowrap !important;
    justify-content: space-around
  }
}

/* -------- Footer End -------- */

/* Edit delete start */
.smallInfo {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #000;
  background: #333333b5;
  color: #fff;
  padding: .3rem .5rem;
  z-index: 2
}

.editDelete {
  margin-top: 1.4rem;
  position: relative
}

.editDelete a {
  color: #d95f1b !important
}

@media screen and (min-width:381px) {
  .editDelete::before {
    content: 'Proceda com cautela!';
    position: absolute;
    position: absolute;
    top: -21px;
    left: 9px
  }
}

/* Edit pages */
.formPageArea {
  margin: auto;
  max-width: 800px
}

.formPageArea img {
  max-width: 300px
}

.headerEdit {
  position: relative;
  background-image: url(../img/template/stop.jpg);
  background-position: top right !important
}

.headerEdit::before {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #4b1504;
  opacity: .5
}

.headerEdit.imgBackgroundArea::before {
  background-image: none
}

.headerEdit::after {
  content: 'ATENÇÂO! Caso aperte em deletar, todos os registros desta categoria serão apagados, inclusive as imagens.' !important;
  position: relative;
  max-width: 400px
}

/* Edit delete end */

/* Create btn start */
.createBtn {
  background-color: #fff !important;
  color: #d95f1b !important;
  border: #ccc 1px solid;
  margin: .1rem;
  width: 207px
}

/* Create btn end */

/* Dropdown toggle start */
.dropdown-toggle {
  background-color: #fff !important;
  color: #d95f1b
}

/* Dropdown toggle end */

.card-group>.card {
  flex: none !important
}