<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <!-- Owl css -->
    <link rel="stylesheet" href="<?=$BASE?>/public/css/owl.carousel.min.css">
    <link rel="stylesheet" href="<?=$BASE?>/public/css/owl.theme.default.css">
    <!-- Google fonts  -->
    <link href="https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps:wght@700&display=swap" rel="stylesheet">
    <!-- Css -->
    <link rel="stylesheet" href="<?=$BASE?>/public/css/style.css">
    <link rel="stylesheet" href="<?=$BASE?>/public/css/style.carousel.css">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <!-- Spinner -->
    <div id="loader" class="center"></div>

    <!-- Nav -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <!--  Show this only on mobile to medium screens  -->
        <a class="navbar-brand d-lg-none" href="<?=$BASE?>">Navbar</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
            aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-between" id="navbarToggle" style="padding-right: 4.4rem;">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="<?=$BASE?>">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="<?=$BASE?>/">Produtos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="<?=$BASE?>/posts">Postagens</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="<?=$BASE?>/gallery">Galeria</a>
                </li>
            </ul>
            <!--   Show this only lg screens and up   -->
            <a class="navbar-brand d-none d-lg-block" style="  margin-right: 9%" href="<?=$BASE?>">Navbar</a>

            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="<?=$BASE?>">Sobre</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Contato
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="<?=$BASE?>/contact/message">Enviar Messagem</a>
                        <a class="dropdown-item" href="<?=$BASE?>/contact/work">Trabalhe conosco</a>
                    </div>
                </li>
                {% if SESSION_USER_NAME %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <?= SESSION_USER_NAME ?>
                    </a>
                    {% if SESSION_ID %}
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="<?=$BASE?>/users/edit/<?=SESSION_ID?>">Meu perfil</a>
                        <a class="dropdown-item" href="<?=$BASE?>/users/">Usuários</a>
                        <a class="dropdown-item" href="<?=$BASE?>/categories/">Categorias</a>

                        <a class="dropdown-item" href="<?=$BASE?>/users/logout">Sair</a>
                    </div>
                    {% endif %}
                    {% endif %}
                </li>
            </ul>
        </div>
    </nav>
    <!-- end nav -->

    {% if carousel %}
    <!-- Header carousel -->
    <header id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <section class="carousel-inner">
            <figure class="carousel-item active">
                <img src="<?=$BASE?>/public/resources/img/carousel/black_hole_on_earth-wallpaper-1920x1080.jpg" alt="..."
                    >
                <figcaption class="carousel-caption d-none d-md-block">
                    <h5>Olá</h5>
                    <p>...</p>
                </figcaption>
            </figure>
            <figure class="carousel-item">
                <img src="<?=$BASE?>/public/resources/img/carousel/black_hole_on_earth-wallpaper-1920x1080.jpg" alt="..."
                    >
                <figcaption class="carousel-caption d-none d-md-block">
                    <h5>Olá</h5>
                    <p>...</p>
                </figcaption>
            </figure>
            <figure class="carousel-item">
                <img src="<?=$BASE?>/public/resources/img/carousel/black_hole_on_earth-wallpaper-1920x1080.jpg" alt="..."
                    >
                <figcaption class="carousel-caption d-none d-md-block">
                    <h5>Olá</h5>
                    <p>...</p>
                </figcaption>
            </figure>
        </section>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </header>
    {% endif %}

    <main class="">
        {% if flash %}
        <div class="<?=flash.class?>" id='msg-flash'
            style="transition: transform .18s, opacity .18s, visibility 0s .18s;">
            <?= flash.message ?>
        </div>
        {% endif %}

        {% block body %}
        {% endblock %}

        {% if totalPages > 1 %}
        <!-- Pagination -->
        <ul>
            {% if method == 'show' %}
            {% if page != 1 %}
            <li><a href="<?=$BASE?>/<?=table?>/<?=method?>/<?=pageId?>/1">Inicio</a></li>
            <li><a href="<?=$BASE?>/<?=table?>/<?=method?>/<?=pageId?>/<?=prev?>">Anterior</a></li>
            {% endif %}

            {% for i in 1..totalPages %}
            <li><a href="<?=$BASE?>/<?=table?>/<?=method?>/<?=pageId?>/<?=i?>"><?=i?></a></li>
            {% endfor %}
            {% if page != totalPages %}
            <li><a href="<?=$BASE?>/<?=table?>/<?=method?>/<?=pageId?>/<?=next?>">Próxima</a></li>
            <li><a href="<?=$BASE?>/<?=table?>/<?=method?>/<?=pageId?>/<?=totalPages?>">Final</a></li>
            {% endif %}
            {% else %}
            {% if pageId != 1 %}
            <li><a href="<?=$BASE?>/<?=table?>/index/1">Inicio</a></li>
            <li><a href="<?=$BASE?>/<?=table?>/index/<?=prev?>">Anterior</a></li>
            {% endif %}

            {% if pageId != totalPages %}
            {% endif %}
            {% for i in 1..totalPages %}
            <li><a href="<?=$BASE?>/<?=table?>/index/<?=i?>"><?=i?></a></li>
            {% endfor %}
            {% if pageId != totalPages %}
            <li><a href="<?=$BASE?>/<?=table?>/index/<?=next?>">Próxima</a></li>
            <li><a href="<?=$BASE?>/<?=table?>/index/<?=totalPages?>">Final</a></li>
            {% endif %}
            {% endif %}
        </ul>
        {% endif %}
    </main>

    <!-- Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
    </script>

    <!-- <script src='<?=$BASE?>/public/js/jquery.min.js'></script> -->
    <!-- Owl -->
    <script src='<?=$BASE?>/public/js/owl.carousel.min.js'></script>
    <!-- App -->
    <script src="<?=$BASE?>/public/js/app.js"></script>
</body>

</html>