<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{{BASE}}">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Produtos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Postagens</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Contato
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{{BASE}}/contact/message">Enviar Messagem</a>
                        <a class="dropdown-item" href="{{BASE}}/contact/work">Trabalhe conosco</a>
                    </div>
                </li>
                {% if SESSION_USER_NAME %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ SESSION_USER_NAME }}
                    </a>
                    {% if SESSION_ID %}
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{{BASE}}/users/edit/{{SESSION_ID}}">Meu perfil</a>

                        <a class="dropdown-item" href="{{BASE}}/users/logout">Sair</a>
                        {% endif %}
                    </div>

                    {% endif %}
                </li>
            </ul>
        </div>
    </nav>


    <ul>
        <nav>
            <li><a href="{{BASE}}/">Home</a></li>
            <li><a href="{{BASE}}/posts">Posts</a></li>
            <li><a href="{{BASE}}/gallery">Galleria</a></li>
            <li><a href="{{BASE}}/contact/message">Contato</a></li>
            <li><a href="{{BASE}}/contact/work">Trabalhe conosco</a></li>
            {% if SESSION_ID %}
            <li><a href="{{BASE}}/users/logout">Sair</a></li>
            {% endif %}
        </nav>
        {% if SESSION_USER_NAME %}
        <li><a href="{{BASE}}/users/edit/{{SESSION_ID}}">{{ SESSION_USER_NAME }}</a>, Bem vindo!</li>
        {% endif %}
    </ul>

    {% if flash %}
    <div class="{{flash.class}}" id='msg-flash'>
        {{ flash.message }}
    </div>
    <script>
        setTimeout(() => {
            document.querySelector('#msg-flash').style.display = 'none';
        }, 4000);
    </script>
    {% endif %}

    {% block body %}
    {% endblock %}

    {% if totalPages > 1 %}
    <ul>
        {% if pageId != 1 %}
        <li><a href="{{BASE}}/{{table}}/index/1">Inicio</a></li>
        <li><a href="{{BASE}}/{{table}}/index/{{prev}}">Anterior</a></li>
        {% endif %}
        {% if pageId != totalPages %}
        {% endif %}
        {% for i in 1..totalPages %}
        <li><a href="{{BASE}}/{{table}}/index/{{i}}">{{i}}</a></li>
        {% endfor %}
        {% if pageId != totalPages %}
        <li><a href="{{BASE}}/{{table}}/index/{{next}}">Próxima</a></li>
        <li><a href="{{BASE}}/{{table}}/index/{{totalPages}}">Final</a></li>
        {% endif %}
    </ul>
    {% endif %}

    <script src="{{BASE}}/public/js/app.js"></script>
    <!-- Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
    </script>
</body>

</html>