<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <ul>
        <nav>
            <li><a href="{{BASE}}/">Home</a></li>
            <li><a href="{{BASE}}/posts">Posts</a></li>
            <li><a href="{{BASE}}/galleria">Galleria</a></li>
            <li><a href="{{BASE}}/contact/message">Contato</a></li>
            <li><a href="{{BASE}}/contact/work">Trabalhe conosco</a></li>
            {% if SESSION_ID %}
            <li><a href="{{BASE}}/users/logout">Sair</a></li>
            {% endif %}
        </nav>
        {% if SESSION_USER_NAME %}
        <li><a href="{{BASE}}/users/edit/{{SESSION_ID}}">{{ SESSION_USER_NAME }}</a>, Bem vindo!</li>
        {% endif %}
    </ul>

    {% if flash %}
    <div class="{{flash.class}}" id='msg-flash'>
        {{ flash.message }}
    </div>
    <script>
        setTimeout(() => {
            document.querySelector('#msg-flash').style.display = 'none';
        }, 4000);
    </script>
    {% endif %}

    {% block body %}
    {% endblock %}
    
    {% if totalPages > 1 %}
    <ul>
        {% if pageId != 1 %}
        <li><a href="{{BASE}}/{{table}}/index/1">Inicio</a></li>
        <li><a href="{{BASE}}/{{table}}/index/{{prev}}">Anterior</a></li>
        {% endif %}
        {% if pageId != totalPages %}
        {% endif %}
        {% for i in 1..totalPages %}
        <li><a href="{{BASE}}/{{table}}/index/{{i}}">{{i}}</a></li>
        {% endfor %}
        {% if pageId != totalPages %}
        <li><a href="{{BASE}}/{{table}}/index/{{next}}">Próxima</a></li>
        <li><a href="{{BASE}}/{{table}}/index/{{totalPages}}">Final</a></li>
        {% endif %}
    </ul>
    {% endif %}

    <script src="{{BASE}}/public/js/app.js"></script>
</body>

</html>