{% extends "base/base.html" %}

{% block title %}
{{title ?? 'Welcome'}}
{% endblock title %}

{% block body %}
<article>
    <section class="contaier section">
        <header class="text-center">
            <h2 class="font-swashCaps">Gordão a 110%</h2>
        </header>
        <figure>
            <figcaption
                class="d-flex flex-wrap flex-md-nowrap flex-row-reverse justify-content-center align-items-center">
                <img src="{{BASE}}/public/img/section/burger-french-fries.png" alt="" data-anima="right">
                <p data-anima="center">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut veritatis nulla molestiae! Facere
                    itaque ut nulla sit, dicta quibusdam quod dolorum? Excepturi neque fugit corporis tempore
                    dignissimos odit. Veniam, ipsum!
                    <a href="">Saiba mais</a>
                </p>
            </figcaption>
        </figure>
    </section>
    <section class="background-section img-1">
        <header>
            <h2>Os melhores lanches</h2>
            <button>Pedir agora</button>
        </header>
    </section>
    <section>
        <div class="owl-carousel owl-theme">
            <figure class="item"><img src="{{BASE}}/public/img/section/burger-french-fries.png" alt=""><figcaption>1</figcaption></figure>
            <figure class="item"><img src="{{BASE}}/public/img/section/burger-french-fries.png" alt=""><figcaption>1</figcaption></figure>
            <figure class="item"><img src="{{BASE}}/public/img/section/burger-french-fries.png" alt=""><figcaption>1</figcaption></figure>
            <figure class="item"><img src="{{BASE}}/public/img/section/burger-french-fries.png" alt=""><figcaption>1</figcaption></figure>
            <figure class="item"><img src="{{BASE}}/public/img/section/burger-french-fries.png" alt=""><figcaption>1</figcaption></figure>
            <figure class="item"><img src="{{BASE}}/public/img/section/burger-french-fries.png" alt=""><figcaption>1</figcaption></figure>
            <figure class="item"><img src="{{BASE}}/public/img/section/burger-french-fries.png" alt=""><figcaption>1</figcaption></figure>
        </div>
    </section>
</article>

{% endblock %}