{% extends "base/base.html" %}

{% block title %}
{{title ?? 'Welcome'}}
{% endblock title %}

{% block body %}
<h1>Welcome</h1>

{% if USER_STATUS == 1 %}
<a href="{{BASE}}/posts/create">Criar uma nova postagem</a>
{% endif %}
{% for data in posts %}
<div>
    <a href="{{BASE}}/posts/show/{{data.id}}">
        <h1>{{ data.title }}</h1>
        <figure>
            <img src="{{BASE}}/public/img/posts/id_{{data.id}}/{{data.img}}" alt="{{data.img}}" title="{{data.title}}">
            <figcaption style="white-space: nowrap;width: 450px;overflow: hidden;text-overflow: ellipsis;">
                <p>
                    {{ data.body }}
                </p>
            </figcaption>
        </figure>
    </a>
    {% if ((data.user_id == SESSION_ID) or (ADM_ID == 1)) %}
    <a href="{{BASE}}/posts/edit/{{ data.id }}" class="btn btn-dark">
        Editar
    </a>
    <a href="{{BASE}}/posts/delete/{{data.id}}" method="post" name="delete"
        onclick="return confirm('Quer Mesmo deletar?')">Deletar</a>
    {% endif %}
</div>
{% endfor %}


{% endblock %}