{% extends "base/base.html" %}

{% block title %}
{{title ?? 'Welcome'}}
{% endblock title %}

{% block body %}
<h1>{{title ?? ''}}</h1>

<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card card-body bg-light mt5">
            <h2>Crie uma Conta</h2>
            <p>Preencha o formulário para se inscrever</p>

            <form action="{{BASE}}/users/store" method="post">
                <!-- Name -->
                <div class="form-group">
                    <label for="name">Nome: <sup>*</sup></label>
                    <input type="text" name="name" id="name"
                        class="form-control form-control-lg {{data.name_error != '' ? 'is-invalid' : '' }}"
                        value="{{ data.name ?? '' }}">
                    <span class=" invalid-feedback">
                        {{ data.name_error }} </span>
                </div>
                <!-- Email -->
                <div class="form-group">
                    <label for="email">E-mail: <sup>*</sup></label>
                    <input name="email" id="email"
                        class="form-control form-control-lg {{data.email_erro != '' ? 'is-invalid' : '' }}"
                        value="{{ data.email ?? '' }}">
                    <span class=" invalid-feedback">
                        {{ data.email_error }} </span>
                </div>
                <!-- Password -->
                <div class="form-group">
                    <label for="password">Senha: <sup>*</sup></label>
                    <input type="password" name="password" id="password"
                        class="form-control form-control-lg {{ data.password_error != '' ? 'is-invalid' : '' }}" value="{{ data.password ?? ''}}">
                    <span class="invalid-feedback">
                        {{ data.password_error }}
                    </span>
                </div>
                <!-- Confirm Password -->
                <div class="form-group">
                    <label for="confirm_password">Confirmar Senha: <sup>*</sup></label>
                    <input type="password" name="confirm_password" id="confirm_password"
                        class="form-control form-control-lg {{ data.confirm_pasword_error != '' ? 'is-invalid' : '' }}"
                        value="{{ data.confirm_password ?? '' }}">
                    <span class="invalid-feedback">
                        {{ data.confirm_password_error }}
                    </span>
                </div>

                <div class="row">
                    <div class="col">
                        <input type="submit" value="Registrar" class="btn btn-success btn-block">
                    </div>
                    <div class="col"><a href="{{BASE}}/users/login" class="btn btn-light btn-block">Possui conta?
                            Login</a></div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}