{% extends "base/base.html" %}

{% block title %}
{{title ?? 'Welcome'}}
{% endblock title %}

{% block body %}

{% if USER_STATUS == 1 %}
<a href="{{BASE}}/products/create">Adicionar mais categorias</a>
{% endif %}
<div>
    <h1>{{ data.product_name }}</h1>
    <small class="bg-secondary text-white p-2 mb-3">
        {% if USER_STATUS == 1 %}
        Produto adicionado por <a href="{{BASE}}/users/show/{{user.id}}">{{ user.name }}</a> em {{ data.created_at }}
        {% endif %}
    </small>
    <figure>
        <img src="{{BASE}}/public/img/products/id_{{data.id}}/{{data.img}}" alt="{{data.img}}"
            title="{{data.img_title}}">
        <figcaption>
            <p>{{data.product_description}}</p>
        </figcaption>
    </figure>
</div>

{% if ((data.user_id == SESSION_ID) or (ADM_ID == 1)) %}
<a href="{{BASE}}/products/edit/{{ data.id }}" class="btn btn-dark">
    Editar
</a>
<a href="{{BASE}}/products/delete/{{data.id}}" method="post" name="delete"
    onclick="return confirm('Quer Mesmo deletar essa imagem?')">Deletar</a>
{% endif %}
{% endblock %}