.main-header {
  position: relative;

  min-height: 75px;
  transition: all 1s ease-in-out;

  &.fixed-top,
  & .fixed-top {

    box-shadow: 0 2px 80px rgb(0 0 0 / 9%);
    transition: all 1s ease-in-out;
  }


  .active {
    &>a {
      color: #d95f1b!important;
    }
  }


  nav {
    position: relative;
    // background-color: rgb(50 50 50) !important;

    a {
      // color: #fff;

      &:hover {
        color: #d95f1b;
      }
    }

    .dropdown-menu {
     
      a {
        color: #000;
      }
    }
  }

  .nav-item.dropdown  {
    @media (min-width: 991.99px) {
      a {
        background: transparent !important;
      }
    }
  }

  .navbar-toggler {
    background-color: #fff;

    &:focus {
      box-shadow: none;
    }

    &::after {
      display: none;
    }
  }

  @media (max-width: 991.99px) {
    nav {
      a {
        color: #000;
      }

      .disable-display {
        display: none!important;
      }
    }

    .navbar-collapse {
      position: absolute;
      top: 75px;
      left: 0;
      padding: 1rem;
      min-height: 100%;
      background: #fff;
      width: 100%;
      z-index: 999999;
    }
  }

}