body.modal-open {
  header {
    z-index: 999 !important;
  }
}

.modal {

  &.fade .modal-dialog {
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
    transform: translateY(-50px);
    opacity: 0;
  }

  &.show .modal-dialog {
    transform: translateY(0);
    opacity: 1;
  }
}