/* -------- Contact Start -------- */
.contactHeader {
    background-image: url(../img/template/contact.png)
}
.contactForm {
    max-width: 1053px
}

.contactRow {
    display: flex;
    justify-content: center
}

.contactAddress, .contactRow form {
    width: 100%;
    max-width: 716px;
}

.contactAddress div {
    display: flex;
}

.contactAddress div ul {
    padding: 1rem;
    padding-left: 1.3rem;
}

@media screen and (max-width:615px) {
    .contactAddress div {
        flex-wrap: wrap-reverse;

        ul {
            padding-left: .1rem;
        }
    }
}

@media screen and (max-width:1000px) {
    .contactForm .contactRow {
        /* flex-direction: column-reverse !important */
    }

    .contactForm .contactInfo {
        margin-bottom: 1rem;
        align-self: center !important
    }
}

/* -------- Contact End -------- */
@media screen and (max-width:600px) {
    .contactHeader {
        background-image: url(../img/template/contact_600.png)!important
    }
}