/* -------- Gallery Start -------- */


[data-page="gallery"] main {
    // padding-bottom: 5rem;
}

.galleryHeader {
    background-image: url(../img/template/gallery.png);

    @media screen and (max-width:600px) {
        background-image: url(../img/template/gallery_600.png) !important
    }
}

.galleryArticle {
    /* height: 200px;
    width: 100px; */
    overflow: hidden;

    &>section {
        margin-top: 4.5rem;
    }

    figure {
        position: relative;
    }

    .galleryImgMax {
        height: 170px;
        overflow: hidden
    }

    figcaption p {
        width: 100%;
        color: #ff7a08;
        background-color: #fff;
        border: 1px solid #dee2e6;
        border-radius: 44px;
        border-top: none !important
    }
}